/* Bootstrap Overrides */

.navbar-brand {
	height: 80px !important; 
}

.navbar {
	background: none !important;
	border: none !important;
}

.navbar-nav > li > a {
	padding-bottom: 5px !important;
}

@media screen and (min-width: 769px) {
	.navbar-right {
		margin-top: 30px !important;
	}
}



/*  Header Styles */


/* Global Styles */

body {
	padding-top: 50px;
}

.btm-sky a span {
	border-bottom: 1px solid #70c6dc;
}

.btm-orange a span {
	border-bottom: 1px solid #e47a1e;
}

.btm-teal a span {
	border-bottom: 1px solid #00a389;
}

.btm-green a span {
	border-bottom: 1px solid #92c747;
}

.btm-blue a span {
	border-bottom: 1px solid #0072a7;
}

.btm-gold a span{
	border-bottom: 1px solid #fdb825;
}

